/* .App {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
}

.modal-content {
    text-align: left;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
} */